[submodule "2018.3~2018.9/newTech/spring_cloud_config/springcloudTest/target/config"]
	path = 2018.3~2018.9/newTech/spring_cloud_config/springcloudTest/target/config
	url = https://github.com/spring-cloud-samples/config-repo
