<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC   
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"   
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">   
<hibernate-configuration>  
    <session-factory>  
        <!-- 数据库的JDBC驱动 -->  
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>  
        <!-- 数据库的URL -->  
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/test</property>  
        <!-- 数据库的用户名和密码 -->  
        <property name="hibernate.connection.username">root</property>  
        <property name="hibernate.connection.password">059030849</property>  
        <!-- 数据库的方言 -->  
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>  
        <!-- Hibernate自动根据映射文件创建或者更新数据表 -->  
        <property name="hibernate.hbm2ddl.auto">update</property>  
        <!-- 在控制台输出运行时生成的SQL语句，方便调试 -->  
        <property name="show_sql">false</property>  
        <!-- 连接池大小 -->  
        <property name="connection.pool_size">20</property>  
        <!-- 列出所有映射文件 -->  






		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- 配置连接池参数信息 -->
		<property name="hibernate.c3p0.max_size">5</property>	<!-- 最大连接数 -->
		<property name="hibernate.c3p0.min_size">2</property>	<!-- 最小连接数 -->
		<property name="hibernate.c3p0.timeout">5000</property>	<!-- 超时时间 -->
		<property name="hibernate.c3p0.max_statements">100</property>	<!-- 最大执行的命令格个数 -->
		<property name="hibernate.c3p0.idle_test_period">30000</property> <!-- 空闲测试时间 -->
		<property name="hibernate.c3p0.acquire_increment">2</property>	<!-- 连接不够用时,每次增加的个数 -->




        <mapping class="com.pwhTest.model.ErpClass" />
    </session-factory>  
</hibernate-configuration>